<div class="overlay">
  <div class="background" (click)="closeOverlay()"></div>
  <div class="container">
    <h2>Edit the selected Entry</h2>
    <form #editForm="ngForm" class="update-form">
      <mat-form-field
        class="update-input"
        *ngFor="let item of headersAndProperties; let i = index"
      >
        <mat-label>{{ item.header }}</mat-label>
        <input
          matInput
          placeholder="{{ item.header }}"
          [(ngModel)]="modelToEdit[item.property]"
          [ngModelOptions]="{ standalone: true }"
          [attr.readonly]="i === 0 ? true : null"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="saveForm()">
        Save
      </button>
      <mat-icon class="close-icon" (click)="closeOverlay()">close</mat-icon>
    </form>
  </div>
</div>
