<app-list
  [modelsList]="models"
  [headersAndPropList]="headersAndProperties"
  (emitModelToEdit)="clientToEdit = $event"
  (emitModelToDelete)="clientToDelete = $event"
  (emitEditOverlay)="showEditOverlay = $event"
  (emitDeleteOverlay)="showDeleteOverlay = $event"
></app-list>
<br />
<br />
<div *ngIf="showEditOverlay">
  <app-update
    [modelToEdit]="clientToEdit"
    [headersAndProperties]="headersAndProperties"
    (emitModelToEdit)="clientToEdit = $event"
    (emitEditConfirmation)="saveEditedClient($event)"
    (emitCloseOverlay)="showEditOverlay = $event"
  ></app-update>
</div>
<div *ngIf="showDeleteOverlay">
  <app-delete
    [modelToDelete]="clientToDelete"
    [headersAndProperties]="headersAndProperties"
    (emitDeleteConfirmation)="deleteSelectedClient($event)"
    (emitCloseOverlay)="showDeleteOverlay = $event"
  ></app-delete>
</div>
