<app-list
  [modelsList]="models"
  [headersAndPropList]="headersAndProperties"
  (emitModelToEdit)="clientToEdit = $event"
  (emitModelToDelete)="clientToDelete = $event"
  (emitEditOverlay)="showEditOverlay = $event"
></app-list>
<br />
<br />
<div *ngIf="showEditOverlay">
  <app-update
    [modelToEdit]="clientToEdit"
    [headersAndProperties]="headersAndProperties"
    (emitModelToEdit)="clientToEdit = $event"
    (emitEdit)="saveEditedClient($event)"
    (emitCloseOverlay)="showEditOverlay = $event"
  ></app-update>
</div>
