.signup-form {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem 0;
}

mat-form-field {
  width: 60rem;
}

h2 {
  text-align: center;
  padding-top: 3rem;
}
