<app-list
  [modelsList]="models"
  [headersAndPropList]="headersAndProperties"
  (emitModelToEdit)="proveedorToEdit = $event"
  (emitModelToDelete)="proveedorToDelete = $event"
  (emitEditOverlay)="showEditOverlay = $event"
  (emitDeleteOverlay)="showDeleteOverlay = $event"
  (emitCreateOverlay)="showCreateOverlay = $event"
></app-list>
<div *ngIf="showEditOverlay">
  <app-update
    [modelToEdit]="proveedorToEdit"
    [headersAndProperties]="headersAndProperties.slice(1)"
    (emitModelToEdit)="proveedorToEdit = $event"
    (emitEditConfirmation)="saveEditedProveedor($event)"
    (emitCloseOverlay)="showEditOverlay = $event"
  ></app-update>
</div>
<div *ngIf="showDeleteOverlay">
  <app-delete
    [modelToDelete]="proveedorToDelete"
    [headersAndProperties]="headersAndProperties"
    (emitDeleteConfirmation)="deleteProveedor($event)"
    (emitCloseOverlay)="showDeleteOverlay = $event"
  ></app-delete>
</div>
<div *ngIf="showCreateOverlay">
  <app-create
    [modelToCreate]="proveedorToCreate"
    [headersAndPropList]="headersAndProperties.slice(1)"
    (emitCloseOverlay)="showCreateOverlay = $event"
    (emitConfirmation)="createProveedor($event)"
    (emitModel)="proveedorToCreate = $event"
  ></app-create>
</div>
